In [1]:
# 11.1 Importing from a file
import zoo

print(zoo.hours())

Open 9-5 daily

In [2]:
# 11.2 Importing from a file with alias
import zoo as menagerie

print(menagerie.hours())

Open 9-5 daily

# Disclaimer:
I worked on all the chapter 16 exercises, but I marked out the assigned one (16.8) for you to grade.

In [3]:
# 16.1 Writing a CSV file
with open("books.csv", "w") as f:
    f.write(f"author,book\nJ R R Tolkein,The Hobbit\nLynne Truss,\"Eats, Shoots & Leaves\"")

In [4]:
# 16.2 Using csv.DictReader method
import csv

with open("books.csv", "r") as f:
    books = csv.DictReader(f)
    for line in f:
        print(line)

author,book

J R R Tolkein,The Hobbit

Lynne Truss,"Eats, Shoots & Leaves"

Yes, DictReader was able to handle the quotes and commas in the second book title.

In [5]:
# 16.3 Writing another csv file
with open("books2.csv", "w") as f:
    f.writelines("title,author,year\n"
                 "The Weirdstone of Brisingamen,Alan Garner,1960\n"
                 "Perdido Street Station,China Miéville,2000\n"
                 "Thud!,Terry Pratchett,2005\n"
                 "The Spellman Files,Lisa Lutz,2007\n"
                 "Small Gods,Terry Pratchett,1992\n"
                 )

In [6]:
# 16.4 Create a SQLite3 database
import sqlite3

conn = sqlite3.connect("books.db")
curs = conn.cursor()

curs.execute("""
    CREATE TABLE IF NOT EXISTS books(
        title VARCHAR(20) PRIMARY KEY,
        author VARCHAR(20),
        year INT
)""")

conn.commit()

In [7]:
# 16.5 Read books2.csv and insert its data into the book table.
with open("books2.csv", "r") as f:
    f.readline()

    insert = "INSERT INTO books VALUES(?, ?, ?)"

    for row in f:
        line = row.strip().split(",")
        curs.execute(insert, (line[0], line[1], line[2]))
    
    conn.commit()

In [8]:
# 16.6 Select and print the title column from the book table in alphabetical order.
curs.execute("SELECT title FROM books ORDER BY title")
all_by_title = curs.fetchall()

for i in range(len(all_by_title)):
    print(all_by_title[i])

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [9]:
# 16.7 Select and print all columns from the book table in order of publication.
curs.execute("SELECT * FROM books ORDER BY year")
all_by_year = curs.fetchall()

for x in range(len(all_by_year)):
    print(all_by_year[x])

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [10]:
# Commit and close connection, cursor
conn.commit()
curs.close()
conn.close()

## Mark me! (16.8)

In [11]:
# 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db. Select and print the title column from the book table in alphabetical order.
import sqlalchemy as sa

engine = sa.create_engine("sqlite:///books.db")

with engine.connect() as conn:
    result = conn.execute(sa.text("SELECT title FROM books ORDER BY title"))
    titles = result.all()
    
    for t in range(len(titles)):
        print(titles[t])

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)